image:
  repository: itzg/mc-router
  pullPolicy: IfNotPresent
  tag: 1.32.0@sha256:907de8ad0b36e3eb4293aea918c518617e286028162adde100132d222968c723
service:
  main:
    ports:
      main:
        port: 25564
  minecraft:
    enabled: true
    ports:
      minecraft:
        enabled: true
        port: 25565
mcrouter:
  host_minecraft: []
  #  - "minecraft.local=minecraft-java.ix-minecraft-java.svc.cluster.local:25565"
workload:
  main:
    podSpec:
      containers:
        main:
          probes:
            liveness:
              enabled: false
            readiness:
              enabled: false
            startup:
              enabled: false
          envFrom:
          - secretRef:
              name: "secrets"
          env:
            API_BINDING: ":{{ .Values.service.main.ports.main.port }}"
            PORT: "{{ .Values.service.minecraft.ports.minecraft.port }}"
portal:
  open:
    enabled: false
