image:
  repository: docker.io/automaticrippingmachine/automatic-ripping-machine
  pullPolicy: IfNotPresent
  tag: 2.15.0@sha256:6564017c7697e7938f28ebfa68b43bbf222a9ad4557603875109b279fee05cda

securityContext:
  container:
    runAsNonRoot: false
    readOnlyRootFilesystem: false
    runAsUser: 0
    runAsGroup: 0
    allowPrivilegeEscalation: true

service:
  main:
    ports:
      main:
        protocol: http
        targetPort: 8080
        port: 10683

workload:
  main:
    podSpec:
      containers:
        main:
          env:
            # default media perms
            ARM_UID: "{{ .Values.securityContext.container.PUID }}"
            ARM_GID: "{{ .Values.securityContext.pod.fsGroup }}"

persistence:
  config:
    enabled: true
    mountPath: "/etc/arm/config"
  arm:
    enabled: true
    mountPath: "/home/arm"

portal:
  open:
    enabled: true
